*.font:	ComicShannsMono Nerd Font:pixelsize=16:antialias=true:autohint=true;
*.alpha: 1.0

! Nsxiv
Nsxiv.window.background: #000000
Nsxiv.window.foreground: #ffffff

! XTERM config
XTerm.vt100.faceName: ComicShannsMono Nerd Font::pixelsize=18:antialias=true:autohint=true
XTerm.vt100.bellIsUrgent:   true
XTerm.vt100.alternateScroll: true
XTerm.vt100.selectToClipboard: true
XTerm*utf8: 1
XTerm.vt100.locale: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.translations: #override \n\
     Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
     Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! UXTERM config
URxvt.scrollBar: false
URxvt.perl-ext-common: default,selection-to-clipboard
URxvt.clipboard.autocopy: true  ! sync primary and clipboard buffers
URxvt.secondaryScreen:  1
URxvt.secondaryScroll:  0
URxvt.secondaryWheel:   1
URxvt*urgentOnBell: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.font: xft:Consolas:pixelsize=12, xft:Segoe UI Symbol:style=Regular:pixelsize=12, xft:Unifont:pixelsize=12
URxvt.letterSpace : -2 ! Put characters slightly closer together
URxvt.termName : rxvt-unicode-256color
!Urxvt*termName:  screen-256color
URxvt.iso14755 : false
URxvt.iso14755_52: false

! transparency in i3
!URxvt.transparent: true
!URxvt.shading:20

! Font
Xft.dpi: 96
Xft.Hinting: 1
Xft.RGBA: rgb
Xft.HintStyle: hintslight
Xft.Antialias: 1

! ! Tokyo Night Colour scheme
! *.foreground:    #A9B1D6
! *.background:    #1A1B26
! *.cursorColor:   #A9B1D6
! *.highlightColor:#3A3F4B
!
! !*fading:                  40
! !*fadeColor:               S_base03
! !*pointerColorBackground:  S_base01
! !*pointerColorForeground:  S_base1
!
! ! Normal      Bright
! ! --------    -------
! ! 0 Black      8 Black
! ! 1 Red        9 Red
! ! 2 Yellow    10 Yellow
! ! 3 Green     11 Green
! ! 4 Blue      12 Blue
! ! 5 Magenta   13 Magenta
! ! 6 Cyan      14 Cyan
! ! 7 White     15 White
!
! ! Black colours
! *.color0:        #1A1B26
! *.color8:        #4E5173
! ! Red colours
! *.color1:        #F7768E
! *.color9:        #E06C75
! ! Yellow colours
! *.color2:        #E0AF68
! *.color10:       #D19A66
! ! Green colours
! *.color3:        #9ECE6A
! *.color11:       #98C379
! ! Blue colours
! *.color4:        #7AA2F7
! *.color12:       #61AFEF
! ! Magenta (pink, !green) colours
! *.color5:        #9A7ECC
! *.color13:       #C678DD
! ! Cyan (blue + green)
! *.color6:        #4ABAAF
! *.color14:       #56B6C2
! ! White colours
! *.color7:        #ACB0D0
! *.color15:       #ABB2BF

! Nord theme
! Copyright (c) 2016-present Sven Greb <development@svengreb.de>
! This source code is licensed under the MIT license found in the license file.

! #define nord0 #2E3440
! #define nord1 #3B4252
! #define nord2 #434C5E
! #define nord3 #4C566A
! #define nord4 #D8DEE9
! #define nord5 #E5E9F0
! #define nord6 #ECEFF4
! #define nord7 #8FBCBB
! #define nord8 #88C0D0
! #define nord9 #81A1C1
! #define nord10 #5E81AC
! #define nord11 #BF616A
! #define nord12 #D08770
! #define nord13 #EBCB8B
! #define nord14 #A3BE8C
! #define nord15 #B48EAD
!
! *.foreground:   nord4
! *.background:   nord0
! *.cursorColor:  nord4
! *fading: 35
! *fadeColor: nord3
!
! *.color0: nord1
! *.color1: nord11
! *.color2: nord14
! *.color3: nord13
! *.color4: nord9
! *.color5: nord15
! *.color6: nord8
! *.color7: nord5
! *.color8: nord3
! *.color9: nord11
! *.color10: nord14
! *.color11: nord13
! *.color12: nord9
! *.color13: nord15
! *.color14: nord7
! *.color15: nord6

! Dracula Colour Scheme
! Dracula Xresources palette
! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6

! Catppuccin Color Scheme
*background: #24273A
*foreground: #CAD3F5

! black
*color0: #494D64
*color8: #5B6078

! red
*color1: #ED8796
*color9: #ED8796

! green
*color2: #A6DA95
*color10: #A6DA95

! yellow
*color3: #EED49F
*color11: #EED49F

! blue
*color4: #8AADF4
*color12: #8AADF4

! magenta
*color5: #F5BDE6
*color13: #F5BDE6

! cyan
*color6: #8BD5CA
*color14: #8BD5CA

! white
*color7: #B8C0E0
*color15: #A5ADCB
